---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-cover text-white flex flex-col items-center" style="background-image: url('/fondo.webp')">
    <div class="py-12 flex justify-center">
      <img class="w-72 h-72" src="/LogoYugen.gif" />
    </div>
    <div class="w-full">
      <img class="w-full" src="/HeadVisual.gif" />
    </div>

    <!-- barra de navegacion  -->
    <div class="w-full mt-12 bg-cover bg-no-repeat bg-center" style="background-image: url('/line-head.png')">
      <ul class="flex justify-center items-center list-none p-0 m-0">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="42"
            height="42"
            viewBox="0 0 24 24"
          >
            <path
              d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"
              fill="white"></path>
          </svg>
        </li>
        <li class="mx-4 text-2xl font-bold">DEBIL</li>
        <li class="mx-4 text-2xl font-bold">VIDA</li>
        <li class="mx-4 text-2xl font-bold">FANTASMA</li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="42"
            height="42"
            viewBox="0 0 24 24"
          >
            <path
              d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"
              fill="white"></path>
          </svg>
        </li>
      </ul>
    </div>

    <!-- david titulo -->
    <div class="mt-12 flex justify-center">
      <img src="/xDx.webp" />
    </div>

    <div class="flex justify-center">
      <img src="/DebilCD.gif" />
    </div>
  </main>
</Layout> 
